.aboutContainer {
  padding: 1rem;
  .about {
    margin-bottom: 1.5rem;
    h1 {
      font-size: $font-title;
      color: $primary;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
      margin-bottom: .5rem;
      padding-bottom: 0.3rem;
      padding-right: 3rem;
      border-bottom: 3px solid $secondary;
      display: inline-block;
    }
    p {
      font-size: $font-text;
      color: $color-font;
      line-height: 30px;
      text-align: justify;
    }
  }
  .certifications {
    @include flex-box(column, center, center);
    h2 {
      font-size: $font-title2;
      color: $primary;
      margin-bottom: .5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0.3rem;
      border-bottom: 3px solid $secondary;
      display: inline-block;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    }
    ul {
      margin-bottom: .5rem;
      li {
        font-size: $font-text;
        color: $color-font;
        margin-bottom: 0.5rem;
        list-style-type: circle;
        text-align: center;
        list-style: none;
        padding-bottom: .3rem;
        line-height: 30px;
        a {
          color: $secondary;
        }
      }
    }
  }
}
