/* From uiverse.io by @hritik5102 */
.mainButton {
  position: relative;
  height: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  p {
    font-size: $font-text-mobile;
  }
}

.mainButton:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 7px;
  left: -7px;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  transition: all 0.35s;
  border-radius: inherit;
}

.mainButton:hover:after {
  top: 0px;
  left: 0px;
}

.btn--index {
  background-color: $tertiary;
  color: $color-font;
  &::after {
    border: 1px solid $color-font;
  }
}

.btn--primary {
  background-color: $secondary;
  color: $tertiary;
  &::after {
    border: 1px solid $color-font;
  }
}

.drk-btn--index {
  background-color: $tertiary-dark;
  color: $color-font-dark;
  &::after {
    border: 1px solid $color-font-dark;
  }
}

.drk-btn--primary {
  background-color: $secondary-dark;
  color: $color-font-dark;
  &::after {
    border: 1px solid $color-font-dark;
  }
}

.btn--small {
  width: 4rem;
}

.btn--medium {
  width: 6rem;
  margin-bottom: 1rem;
}

.btn--large {
  width: 10rem;
}

.disabled-button {
  background-color: rgb(86, 86, 86);
}

@media (min-width: 728px) {
  .btn--medium {
    width: 8rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1200px) {
  .btn--medium {
    width: 5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }
}
