/* From uiverse.io by @hritik5102 */
.mainButton {
  position: relative;
  height: 2.5rem;
  border-radius: 5px;
  cursor: grab;
  p{
    font-size: $font-text-mobile;
  }
}

.mainButton:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 7px;
  left: -7px;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  transition: all 0.35s;
  border-radius: inherit;
}

.mainButton:hover:after {
  top: 0px;
  left: 0px;
}

.btn--index {
  background-color: $tertiary;
  border: 1px solid $tertiary;
  &::after {
    border: 1px solid $tertiary;
  }
}

.btn--primary {
  background-color: $secondary;
  color: $tertiary;
  &::after {
    border: 1px solid $color-font;
  }
}

.btn--small {
  width: 4rem;
}

.btn--medium {
  width: 6rem;
  margin-bottom: 1rem;
}

.btn--large {
  width: 10rem;
}

@media (min-width: 728px) {
  .btn--medium {
    width: 8rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1500px) {
  .btn--medium {
    width: 6rem;
    margin-bottom: 1rem;
  }
}
