/* From uiverse.io by @hritik5102 */
.mainButton {
  position: relative;
  height: 40px;
  padding: 0.5rem 2.5rem;
  border: 1px solid $tertiary;
  background-color: $tertiary;
  border-radius: 5px;
  cursor: grab;
}

.mainButton:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 7px;
  left: -7px;
  height: 100%;
  background-color: transparent;
  border: 1px solid $tertiary;
  z-index: 2;
  transition: all 0.35s;
  border-radius: inherit;
}

.mainButton:hover:after {
  top: 0px;
  left: 0px;
}
