.footerContainer {
    height:auto;
    width: 100%;
    background-color: $footer;
    border-top: 2px solid black;
    .footerContent{
        @include flex-box(column, flex-start, space-between);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        ul{
            li{
                color: $menu-font-color;
                font-size: $font-menu-footer;
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
            }
        }
        .socialMedia {
            padding-left: 1rem;
            width:100%;
            border-top: 0.3rem solid $line-color;
            @include flex-box(row, flex-end, flex-end);
            li{
                padding-left:.5rem;
            }
        }
    }
}