.footerContainer {
    width: 100%;
    background-color: $primary;
    .footerContent{
        @include flex-box(column, flex-start, space-between);
        padding-right: $padding-mobile;
        padding-left: $padding-mobile;
        padding-top: $padding-mobile;
        ul{
            li{
                color: $tertiary;
                font-size: $font-menu-footer;
                padding-top: 0.5rem;
                padding-bottom: 0.2rem;
            }
        }
        .socialMedia {
            padding-left: 1rem;
            width:100%;
            border-top: 0.1rem solid $secondary;
            @include flex-box(row, flex-end, flex-end);
            li{
                padding-left:.5rem;
                img {
                    fill: aqua;
                }
            }
        }
    }
}