.navBarContainer {
  width: 80%;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding-top: 10vh;


  @include flex-box(column, center, flex-start);
  .logo {
    width: 35vw;
  }
  .navBarLinks {
    @include flex-box(column, none, center);
    list-style: none;
    li {
      color: $tertiary;
      margin-top: 3rem;
      font-size: $font-menu-mobile;
      border-bottom: 2px solid $secondary;
    }
  }
}
