.skillsMain {
  background-image: url(/src/assets/images/daruma.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 40%;
  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    div {
      @include flex-box(column, center, center);
      padding: 2rem;
      img {
        width: 90%;
      }
    }
  }
}
