@media (min-width: 728px) {
  body {
    overflow: visible !important;
  }
  //navBar
  .navBarContainer {
    height: 100px;
    width: 100%;
    position: static;
    @include flex-box(row, center, center);
    padding-left: $padding-border;
    padding-right: $padding-border;
    padding-top: 0;
    .logo {
      display: none;
    }
    .cross {
      display: none;
    }
    .navBarLinks {
      @include flex-box(row, center, center);
      list-style: none;
      li {
        color: $tertiary;
        margin-left: $margin-links-menu;
        margin-right: $margin-links-menu;
        margin-top: none;
        margin-bottom: 1.5rem;
        padding-bottom: 0.5rem;
        position: relative;

        border-bottom: none;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(1);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $secondary;
          transform-origin: bottom left;
          transition: transform 0.25s ease-out;
        }

        &:hover:after {
          transform: scale(0);
          transform-origin: bottom left;
        }
      }
    }
  }

  .hide {
    transform: translateX(0);
    transition: none;
  }
  //footer
  .footerContainer {
    height: 10vh;
    .footerLinks {
      display: none;
    }
  }
  //burguer
  .burguerDiv {
    display: none;
  }
  .crossButton {
    display: none;
  }
  .footerContainer {
    height: 10vh;
    .footerContent {
      padding-left: $padding-border;
      padding-right: $padding-border;
      ul {
        li {
          padding-top: 0.3rem;
          padding-bottom: 0.3rem;
        }
      }
      .socialMedia {
        img {
          width: 2.2rem;
        }
      }
    }
  }

  //index {
  .indexMain {
    img {
      width: 20vw;
    }
  }

  //home
  .homeContainer {
    @include flex-box(column, center, center);
    background-size: 15%;
  }
  .pictureContainer {
    img {
      width: 45%;
    }
    div::before {
      font-size: 4rem;
      height: 25rem;
    }
  }

  .aboutContainer {
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    .about {
      p {
        font-size: $font-text;
        line-height: 30px;
      }
    }
  }

  .certifications {
    ul {
      li {
        font-size: $font-text;
      }
    }
  }

  //title
  .title {
    @include flex-box(column, center, center);
    background-color: transparent;
    padding-bottom: 0;
    margin-top: 1.5rem;
    //background-image: initial;
    h1 {
      width: 100%;
    }
  }

  //experience
  .experienceMain {
    @include flex-box(column, center, flex-start);
    background-size: 15%;
    .experienceContainer {
      min-height: $desktop-height;
    }
  }
  //skilss
  .skillsMain {
    min-height: 85vh;
    padding-left: $padding-border;
    padding-right: $padding-border;
    background-size: 15%;
    h1 {
      padding-right: 8rem;
    }
    @include flex-box(column, center, flex-start);
    .skillsContainer {
      grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
      width: 100%;
    }
  }

  //portfolio
  .mainPortfolio {
    background-size: 15%;
    min-height: $desktop-height;
    h1 {
      padding-right: 4rem;
    }
    @include flex-box(column, center, flex-start);
    .portfolioContainer {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      justify-items: center;
      .divPortfolio {
        width: 320px;
        padding: 1rem;
        h2 {
          font-size: 1.5rem;
        }
        .portfolioImg {
          width: 100%;
          height: 130px;
        }
        .imgSkills {
          img {
            width: 2vw;
          }
        }
        .itemDescription {
          height: 25%;
        }
      }
    }
  }

  //contact me
  .mainContact {
    padding-left: $padding-border;
    padding-right: $padding-border;
    min-height: 85vh;
    background-size: 15%;
    @include flex-box(column, center, flex-start);
    form {
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 60vh;
      .input {
        width: 80vw;
        font-size: $font-title;
      }
      .label {
        font-size: $font-title;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    overflow: hidden !important;
  }
  .navBarContainer {
    @include flex-box(row, center, space-between);
    .logo {
      display: block;
      width: 5vw;
    }
    .navBarLinks {
      li {
        font-size: $font-menu-desktop;
      }
    }
  }
  //title
  .title {
    background-image: url("/src/assets/images/mountFuji.svg");
  }

  //footer
  .footerContainer {
    height: 20vh;
    .footerContent {
      padding-left: $padding-border;
      padding-right: $padding-border;
      ul {
        li {
          padding-top: 0.3rem;
          padding-bottom: 0.3rem;
        }
      }
      .socialMedia {
        img {
          width: 2.2rem;
        }
      }
    }
  }

  //home
  .homeContainer {
    @include flex-box(row, center, center);
    background-size: 15%;
  }
  .pictureContainer {
    height: $desktop-height;
    img {
      width: 45%;
    }
    div::before {
      font-size: 4rem;
      height: 25rem;
    }
  }

  .aboutContainer {
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    .about {
      p {
        font-size: $font-text-desktop;
        line-height: 22px;
      }
    }

    .certifications {
      ul {
        li {
          font-size: $font-text-desktop;
        }
      }
    }
  }

  //experience
  .experienceMain {
    .experienceContainer {
      min-height: 60vh;
    }
  }

  //skills
  .skillsMain {
    min-height: $desktop-height;

    .skillsContainer {
      grid-template-columns: repeat(auto-fit, minmax(170px, 0.5fr));

      img {
        filter: grayscale(100%);
        &:hover {
          transition: transform 0.8s;
          transform: scale(1.2);
          filter: none;
        }
      }
    }
  }

  //portfolio
  .mainPortfolio {
    padding-left: $padding-border;
    padding-right: $padding-border;

    .portfolioContainer {
      margin-top: 1.5rem;
      display: grid;
      height: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      .divPortfolio {
        max-width: 18vw;
        h2 {
          font-size: $font-menu-desktop;
        }
        .itemDescription {
          min-height: 28%;
        }
      }
    }
  }

  //contact

  .mainContact {
    padding-left: $padding-border;
    padding-right: $padding-border;
    min-height: $desktop-height;
    background-size: 15%;
    @include flex-box(column, center, flex-start);
    form {
      padding-top: 1rem;
      padding-bottom: 1rem;
      .input {
        width: 50vw;
        font-size: $font-title3;
      }
      .label {
        font-size: $font-title3;
      }
    }
  }
}

@media (max-width: 728px) {
  //navBar
  .navBarBlur {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(3px);
    z-index: 5;
    -webkit-backdrop-filter: blur(3px);
  }
  .navBarContainer {
    overflow: scroll;
    padding-bottom: 2rem;
    .navBarLinks {
      width: 100%;
      padding-right: 2rem;
      li {
        padding-bottom: 1rem;
        padding-left: 0.8rem;
      }
    }
  }

  .hide {
    transform: translateX(350px);
    transition: transform 0.3s;
  }

  .show {
    transform: translateX(0);
    transition: transform 0.3s;
  }
}
