@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  //navBar
  .navBarContainer {
    height: 100px;
    width: 100%;
    position: static;
    @include flex-box(row, center, space-between);
    padding-left: $padding-border;
    padding-right: $padding-border;
    .logo {
      width: 5vw;
    }
    .cross {
      display: none;
    }
    .navBarLinks {
      @include flex-box(row, center, center);
      list-style: none;
      li {
        color: $menu-font-color;
        margin-left: $margin-links-menu;
        margin-right: $margin-links-menu;
        margin-top: none;
        margin-bottom: 1.5rem;
        font-size: $font-menu-desktop;
        border-bottom: 3px solid $line-color;
        padding-bottom: 0.5rem;
      }
    }
  }
  //footer 
  .footerContainer {
    height: 10vh;
    .footerLinks {
      display: none;
    }
  }
  //burguer
  .burguerDiv {
    display: none;
  }
  .crossButton {
    display: none;
  }
  .footerContainer {
    height: 20vh;
    .footerContent {
      padding-left: $padding-border;
      padding-right: $padding-border;
      ul{
        li{
          padding-top: .3rem;
          padding-bottom: .3rem;
        }
      }
      .socialMedia {
        img{
          width: 2.2rem;
        }
      }
    }
  }

  //index {
    .indexMain {
      img{
        width: 20vw;
      }
    }

  //home 
  .homeContainer {
    @include flex-box(row, center, center);
    background-size: 15%;
  }
  .pictureContainer{
    height: $desktop-height;
    img{
      width: 45%;
    }
    div::before {
      font-size: 4rem;
      height: 25rem;
    }
  }

  .aboutContainer{
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  //title
  .title{
    @include flex-box(column, center, center);
    width: 18%;
    background-color: transparent;
    padding-bottom: 0;
    margin-top: 1.5rem;
  }

  //experience
  .experienceMain{
    @include flex-box(column, center, center);
    background-size: 15%;
    .experienceContainer{
      min-height: 60vh;
    }
  }
}

@media (max-width: 768px) {
  //navBar
  .navBarLinks {
    width: 100%;
    padding-right: 2rem;
    li {
      padding-bottom: 0.4rem;
      padding-left: 0.8rem;
    }
  }
}
