//colors
$primary: rgba(22, 83, 107, 1);
$secondary: rgba(237, 60, 31, 1);
$tertiary: rgba(234, 224, 205, 1);
$quaternary: rgba(195, 185, 166, 1);
$quaternary-trans: rgba(195, 185, 166, 0.435);
$color-font: rgba(0, 0, 0, 1);
$title-shadow: rgba(237, 58, 31, 0.46);
$water-stamp: rgba(195, 185, 166, 0.5);

//padding and margins sizes
$padding-border: 5rem;
$margin-links-menu: 1.5rem;
$padding-mobile: 1rem;

//fonts size
$font-menu-mobile: 1.6rem;
$font-menu-desktop: 1.2rem;
$font-menu-footer: 1.1rem;
$font-title: calc(2rem + 0.8vw);
$font-title2: calc(1.5rem + 0.8vw);
$font-title3: calc(0.5rem + 0.8vw);
$font-text: 1.5rem;
$font-text-mobile: 1.2rem;
$font-text-desktop: 1rem;

//height
$desktop-height: 75vh;

//wallpaper
$wallpaper: url(/src/assets/images/oldwallpaper.png);
